project_id        = "your-gcp-project-id"
region            = "us-central1"
name              = "idea-board-demo"
node_count        = 2
node_size         = "small"
db_size           = "small"
high_availability = false
